html,
body {
    background: #000;
    color: #FFF;
    height: 100%;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    -webkit-font-smoothing: none;
}

* {
    box-sizing: border-box;
}

/* Allow inline-block elements to stay on same line without ghost-space from anonymous inline space */
.inlineFix {
    font-size: 0;
    
    > * {
        font-size: 12px;
    }
}

/* Allows content of a table-cell element to be positioned relative to the cell */
/* First child of the table-cell must be the following, and all contents goes inside of it */
.tbcRelative {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    
    #win-desktop > & {
        display: block;
        position: absolute;
    }
    
    &:after {
        clear: both;
        content: '.';
        display: block;
        opacity: 0;
    }
}

/* Content on single line without affecting parent and sibilings sizes */
/* Html structure must follow the selectors nesting */
.oneLineFlex {
    display: table;
    width: 100%;
    
    .oneLineContainer {
        display: table-cell;
        width: inherit;
        
        .oneLineContent {
            display: block;
            overflow: hidden;
            position: absolute;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: inherit;
            
            .oneLineText {
                display: inline-block;
                overflow: hidden;
                position: absolute;
                text-overflow: ellipsis;
                top: 50%;
                margin: -0.5em 0 0 0;
                width: 100%;
        }
        }
    }
}

.mcsft-logo {
    font-style: italic;
    font-weight: bolder;
}

.no-select {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;          
}

.el-reset {
   -webkit-appearance: value;
   -moz-appearance:    value;
   appearance:         value;
}

.win-btn {
    border: 1px solid #FFF;
    border-radius: 3px;
    color: #FFF;
    outline: none;
    margin: 0 2px;
}

.btn-red {
    background: rgb(242,176,160); /* Old browsers */
    background: -moz-radial-gradient(left top, ellipse cover,  rgba(242,176,160,1) 0%, rgba(231,67,11,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, left top, 0px, center center, 100%, color-stop(0%,rgba(242,176,160,1)), color-stop(100%,rgba(231,67,11,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(left top, ellipse cover,  rgba(242,176,160,1) 0%,rgba(231,67,11,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(left top, ellipse cover,  rgba(242,176,160,1) 0%,rgba(231,67,11,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(left top, ellipse cover,  rgba(242,176,160,1) 0%,rgba(231,67,11,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at left top,  rgba(242,176,160,1) 0%,rgba(231,67,11,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2b0a0', endColorstr='#e7430b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    -webkit-box-shadow:inset -1px -1px 1px 1px #a8371b;
    box-shadow:inset -1px -1px 1px 1px #a8371b;
    
    &:hover {
        
    }
    
    &:active {
        -webkit-box-shadow:inset -1px -1px 1px 14px #a8371b;
        box-shadow:inset -1px -1px 1px 14px #a8371b;        
    }
}

.btn-blue {
    background: rgb(148,182,255); /* Old browsers */
    background: -moz-radial-gradient(left top, ellipse cover,  rgba(148,182,255,1) 0%, rgba(16,109,247,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, left top, 0px, center center, 100%, color-stop(0%,rgba(148,182,255,1)), color-stop(100%,rgba(16,109,247,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(left top, ellipse cover,  rgba(148,182,255,1) 0%,rgba(16,109,247,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(left top, ellipse cover,  rgba(148,182,255,1) 0%,rgba(16,109,247,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(left top, ellipse cover,  rgba(148,182,255,1) 0%,rgba(16,109,247,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at left top,  rgba(148,182,255,1) 0%,rgba(16,109,247,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94b6ff', endColorstr='#106df7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    -webkit-box-shadow:inset -1px -1px 1px 1px #003cbd;
    box-shadow:inset -1px -1px 1px 1px #003cbd;
    
    &:active {
        -webkit-box-shadow:inset -1px -1px 1px 14px #003cbd;
        box-shadow:inset -1px -1px 1px 14px #003cbd;
    }
}

.btn-yellow {
    background: rgb(238,206,160); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(238,206,160,1) 0%, rgba(227,175,15,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(238,206,160,1)), color-stop(100%,rgba(227,175,15,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(238,206,160,1) 0%,rgba(227,175,15,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(238,206,160,1) 0%,rgba(227,175,15,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(238,206,160,1) 0%,rgba(227,175,15,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(238,206,160,1) 0%,rgba(227,175,15,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eecea0', endColorstr='#e3af0f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    -webkit-box-shadow:inset -1px -1px 1px 1px #a56a09;
    box-shadow:inset -1px -1px 1px 1px #a56a09;
    
    &:active {
        -webkit-box-shadow:inset -1px -1px 1px 14px #a56a09;
        box-shadow:inset -1px -1px 1px 14px #a56a09;
    }
}


$winIconWidth : 16px;

.win-prg-icon {
    display: inline-block;
    height: 100%;
    width: $winIconWidth;
    position:relative;
    
    .icon-img {
        background-attachment: scroll;
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        position: absolute;
        width: 100%;
    }
}
