html,
body {
    background: #000;
    color: #FFF;
    height: 100%;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    -webkit-font-smoothing: none;
}

* {
    box-sizing: border-box;
}

/* Allow inline-block elements to stay on same line without ghost-space from anonymous inline space */
.inlineFix {
    font-size: 0;
    
    > * {
        font-size: 12px;
    }
}

.mcsft-logo {
    font-style: italic;
    font-weight: bolder;
}

.no-select {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;          
}

.el-reset {
   -webkit-appearance: value;
   -moz-appearance:    value;
   appearance:         value;
}

.win-btn {
    border: 1px solid #FFF;
    border-radius: 3px;
    color: #FFF;
    outline: none;
    margin: 0 1px;
}

$buttonsShadowSize : -1px -1px 1px 0px;
.btn-red {
    background: rgb(242,176,160); /* Old browsers */
    background: -moz-radial-gradient(left top, ellipse cover,  rgba(242,176,160,1) 0%, rgba(231,67,11,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, left top, 0px, center center, 100%, color-stop(0%,rgba(242,176,160,1)), color-stop(100%,rgba(231,67,11,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(left top, ellipse cover,  rgba(242,176,160,1) 0%,rgba(231,67,11,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(left top, ellipse cover,  rgba(242,176,160,1) 0%,rgba(231,67,11,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(left top, ellipse cover,  rgba(242,176,160,1) 0%,rgba(231,67,11,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at left top,  rgba(242,176,160,1) 0%,rgba(231,67,11,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2b0a0', endColorstr='#e7430b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    -webkit-box-shadow:inset $buttonsShadowSize #a8371b;
    box-shadow:inset $buttonsShadowSize #a8371b;
    
    #stm-bottom p:hover &,
    &:hover {
        background: #ffb7af;
        background: -moz-radial-gradient(left top, ellipse cover,  #ffb7af 0%, #ff765b 50%, #ff845c 100%);
        background: -webkit-gradient(radial, left top, 0px, center center, 100%, color-stop(0%,#ffb7af), color-stop(50%,#ff765b), color-stop(100%,#ff845c));
        background: -webkit-radial-gradient(left top, ellipse cover,  #ffb7af 0%,#ff765b 50%,#ff845c 100%);
        background: -o-radial-gradient(left top, ellipse cover,  #ffb7af 0%,#ff765b 50%,#ff845c 100%);
        background: -ms-radial-gradient(left top, ellipse cover,  #ffb7af 0%,#ff765b 50%,#ff845c 100%);
        background: radial-gradient(ellipse at left top,  #ffb7af 0%,#ff765b 50%,#ff845c 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb7af', endColorstr='#ff845c',GradientType=1 );

        -webkit-box-shadow:inset $buttonsShadowSize #ff513c;
        box-shadow:inset $buttonsShadowSize #ff513c;
    }
    
    #stm-bottom p:active &,
    &:active {
        -webkit-box-shadow:inset -1px -1px 1px 14px #a8371b;
        box-shadow:inset -1px -1px 1px 14px #a8371b;        
    }
}

.btn-blue {
    background: #98b7fa;
    background: -moz-radial-gradient(left top, ellipse cover,  #98b7fa 0%, #2a68f5 46%, #0761f5 100%);
    background: -webkit-gradient(radial, left top, 0px, center center, 100%, color-stop(0%,#98b7fa), color-stop(46%,#2a68f5), color-stop(100%,#0761f5));
    background: -webkit-radial-gradient(left top, ellipse cover,  #98b7fa 0%,#2a68f5 46%,#0761f5 100%);
    background: -o-radial-gradient(left top, ellipse cover,  #98b7fa 0%,#2a68f5 46%,#0761f5 100%);
    background: -ms-radial-gradient(left top, ellipse cover,  #98b7fa 0%,#2a68f5 46%,#0761f5 100%);
    background: radial-gradient(ellipse at left top,  #98b7fa 0%,#2a68f5 46%,#0761f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98b7fa', endColorstr='#0761f5',GradientType=1 );

    -webkit-box-shadow:inset $buttonsShadowSize #003cbd;
    box-shadow:inset $buttonsShadowSize #003cbd;
    
    &:hover {
        background: #a2c0ff;
        background: -moz-radial-gradient(left top, ellipse cover,  #a2c0ff 0%, #317aff 46%, #36afff 100%);
        background: -webkit-gradient(radial, left top, 0px, center center, 100%, color-stop(0%,#a2c0ff), color-stop(46%,#317aff), color-stop(100%,#36afff));
        background: -webkit-radial-gradient(left top, ellipse cover,  #a2c0ff 0%,#317aff 46%,#36afff 100%);
        background: -o-radial-gradient(left top, ellipse cover,  #a2c0ff 0%,#317aff 46%,#36afff 100%);
        background: -ms-radial-gradient(left top, ellipse cover,  #a2c0ff 0%,#317aff 46%,#36afff 100%);
        background: radial-gradient(ellipse at left top,  #a2c0ff 0%,#317aff 46%,#36afff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2c0ff', endColorstr='#36afff',GradientType=1 );

        -webkit-box-shadow:inset $buttonsShadowSize #518aff;
        box-shadow:inset $buttonsShadowSize #518aff;
    }
    
    &:active {
        -webkit-box-shadow:inset -1px -1px 1px 14px #003cbd;
        box-shadow:inset -1px -1px 1px 14px #003cbd;
    }
}

.btn-yellow {
    background: #eecea0;
    background: -moz-radial-gradient(left top, ellipse cover,  #eecea0 0%, #e0a54b 46%, #e4b215 100%);
    background: -webkit-gradient(radial, left top, 0px, center center, 100%, color-stop(0%,#eecea0), color-stop(46%,#e0a54b), color-stop(100%,#e4b215));
    background: -webkit-radial-gradient(left top, ellipse cover,  #eecea0 0%,#e0a54b 46%,#e4b215 100%);
    background: -o-radial-gradient(left top, ellipse cover,  #eecea0 0%,#e0a54b 46%,#e4b215 100%);
    background: -ms-radial-gradient(left top, ellipse cover,  #eecea0 0%,#e0a54b 46%,#e4b215 100%);
    background: radial-gradient(ellipse at left top,  #eecea0 0%,#e0a54b 46%,#e4b215 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eecea0', endColorstr='#e4b215',GradientType=1 );

    -webkit-box-shadow:inset $buttonsShadowSize #a56a09;
    box-shadow:inset $buttonsShadowSize #a56a09;
    
    #stm-bottom p:hover &,
    &:hover {
        background: #ffdaa4;
        background: -moz-radial-gradient(left top, ellipse cover,  #ffdaa4 0%, #ffbd4f 46%, #ffe41e 100%);
        background: -webkit-gradient(radial, left top, 0px, center center, 100%, color-stop(0%,#ffdaa4), color-stop(46%,#ffbd4f), color-stop(100%,#ffe41e));
        background: -webkit-radial-gradient(left top, ellipse cover,  #ffdaa4 0%,#ffbd4f 46%,#ffe41e 100%);
        background: -o-radial-gradient(left top, ellipse cover,  #ffdaa4 0%,#ffbd4f 46%,#ffe41e 100%);
        background: -ms-radial-gradient(left top, ellipse cover,  #ffdaa4 0%,#ffbd4f 46%,#ffe41e 100%);
        background: radial-gradient(ellipse at left top,  #ffdaa4 0%,#ffbd4f 46%,#ffe41e 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdaa4', endColorstr='#ffe41e',GradientType=1 );

        -webkit-box-shadow:inset $buttonsShadowSize #c28112;
        box-shadow:inset $buttonsShadowSize #c28112;
    }
    
    #stm-bottom p:active &,
    &:active {
        -webkit-box-shadow:inset -1px -1px 1px 14px #a56a09;
        box-shadow:inset -1px -1px 1px 14px #a56a09;
    }
}


$winIconWidth : 16px;

.win-prg-icon {
    display: inline-block;
    height: 100%;
    margin: 0 0 0 2px;
    width: $winIconWidth;
    position:relative;
    
    .icon-img {
        background-attachment: scroll;
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        position: absolute;
        width: 100%;
    }
}
