/* 
    Collection of classes structures to achieve flexible layouts
    with CSS table algorytm

    Author  : Simone Rescio
    eMail   : simone.rescio@gmail.com
    website : http://simonerescio.it
*/

/* Allows content of a table-cell element to be positioned relative to the cell */
/* First child of the table-cell must be the following, and all contents goes inside of it */
.tbcRelative {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    
    #win-desktop > & {
        display: block;
        overflow: hidden;
        position: absolute;
    }
    
    &:after {
        clear: both;
        content: '.';
        display: block;
        opacity: 0;
    }
}

/* Content on single line without affecting parent and sibilings sizes */
/* Html structure must follow the selectors nesting */
.oneLineFlex {
    display: table;
    width: 100%;
    
    .oneLineContainer {
        display: table-cell;
        width: inherit;
        
        .oneLineContent {
            display: block;
            overflow: hidden;
            position: absolute;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: inherit;
            
            .oneLineText {
                display: inline-block;
                overflow: hidden;
                position: absolute;
                text-overflow: ellipsis;
                top: 50%;
                margin: -0.5em 0 0 0;
                width: 100%;
            }
        }
    }
}

/* Allow vertical content to expand with fixed sibiling on top and bottom */
.tbFill {
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    
    .tbHeader {
        display: table-header-group;
        height: 1px;
    }
    .tbRow {
        display: table-row;
        height: 100%;
    }
    .tbFooter {
        display: table-footer-group;
        height: 1px;
    }
}
