/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-giu-2014, 14.11.43
    Author     : simonerescio
*/
/* html5doctor.com Reset v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) - http://cssreset.com */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html,
body {
  background: #000;
  color: #FFF;
  height: 100%;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  -webkit-font-smoothing: none; }

* {
  box-sizing: border-box; }

a {
  cursor: default; }

/* Allow inline-block elements to stay on same line without ghost-space from anonymous inline space */
.inlineFix {
  font-size: 0; }
  .inlineFix > * {
    font-size: 12px; }

.mcsft-logo {
  font-style: italic;
  font-weight: bolder; }

.no-select {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none; }

.el-reset {
  -webkit-appearance: value;
  -moz-appearance: value;
  appearance: value; }

.win-btn {
  border: 1px solid #FFF;
  border-radius: 3px;
  color: #FFF;
  outline: none;
  margin: 0 1px; }

.btn-red {
  background: #f2b0a0;
  /* Old browsers */
  background: -moz-radial-gradient(left top, ellipse cover, #f2b0a0 0%, #e7430b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, left top, 0px, center center, 100%, color-stop(0%, #f2b0a0), color-stop(100%, #e7430b));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(left top, ellipse cover, #f2b0a0 0%, #e7430b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(left top, ellipse cover, #f2b0a0 0%, #e7430b 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(left top, ellipse cover, #f2b0a0 0%, #e7430b 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at left top, #f2b0a0 0%, #e7430b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2b0a0', endColorstr='#e7430b',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset -1px -1px 1px 0px #a8371b;
  box-shadow: inset -1px -1px 1px 0px #a8371b; }
  #stm-bottom p:hover .btn-red, .btn-red:hover {
    background: #ffb7af;
    background: -moz-radial-gradient(left top, ellipse cover, #ffb7af 0%, #ff765b 50%, #ff845c 100%);
    background: -webkit-gradient(radial, left top, 0px, center center, 100%, color-stop(0%, #ffb7af), color-stop(50%, #ff765b), color-stop(100%, #ff845c));
    background: -webkit-radial-gradient(left top, ellipse cover, #ffb7af 0%, #ff765b 50%, #ff845c 100%);
    background: -o-radial-gradient(left top, ellipse cover, #ffb7af 0%, #ff765b 50%, #ff845c 100%);
    background: -ms-radial-gradient(left top, ellipse cover, #ffb7af 0%, #ff765b 50%, #ff845c 100%);
    background: radial-gradient(ellipse at left top, #ffb7af 0%, #ff765b 50%, #ff845c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb7af', endColorstr='#ff845c',GradientType=1 );
    -webkit-box-shadow: inset -1px -1px 1px 0px #ff513c;
    box-shadow: inset -1px -1px 1px 0px #ff513c; }
  #stm-bottom p:active .btn-red, .btn-red:active {
    -webkit-box-shadow: inset -1px -1px 1px 14px #a8371b;
    box-shadow: inset -1px -1px 1px 14px #a8371b; }

.btn-blue {
  background: #98b7fa;
  background: -moz-radial-gradient(left top, ellipse cover, #98b7fa 0%, #2a68f5 46%, #0761f5 100%);
  background: -webkit-gradient(radial, left top, 0px, center center, 100%, color-stop(0%, #98b7fa), color-stop(46%, #2a68f5), color-stop(100%, #0761f5));
  background: -webkit-radial-gradient(left top, ellipse cover, #98b7fa 0%, #2a68f5 46%, #0761f5 100%);
  background: -o-radial-gradient(left top, ellipse cover, #98b7fa 0%, #2a68f5 46%, #0761f5 100%);
  background: -ms-radial-gradient(left top, ellipse cover, #98b7fa 0%, #2a68f5 46%, #0761f5 100%);
  background: radial-gradient(ellipse at left top, #98b7fa 0%, #2a68f5 46%, #0761f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#98b7fa', endColorstr='#0761f5',GradientType=1 );
  -webkit-box-shadow: inset -1px -1px 1px 0px #003cbd;
  box-shadow: inset -1px -1px 1px 0px #003cbd; }
  .btn-blue:hover {
    background: #a2c0ff;
    background: -moz-radial-gradient(left top, ellipse cover, #a2c0ff 0%, #317aff 46%, #36afff 100%);
    background: -webkit-gradient(radial, left top, 0px, center center, 100%, color-stop(0%, #a2c0ff), color-stop(46%, #317aff), color-stop(100%, #36afff));
    background: -webkit-radial-gradient(left top, ellipse cover, #a2c0ff 0%, #317aff 46%, #36afff 100%);
    background: -o-radial-gradient(left top, ellipse cover, #a2c0ff 0%, #317aff 46%, #36afff 100%);
    background: -ms-radial-gradient(left top, ellipse cover, #a2c0ff 0%, #317aff 46%, #36afff 100%);
    background: radial-gradient(ellipse at left top, #a2c0ff 0%, #317aff 46%, #36afff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a2c0ff', endColorstr='#36afff',GradientType=1 );
    -webkit-box-shadow: inset -1px -1px 1px 0px #518aff;
    box-shadow: inset -1px -1px 1px 0px #518aff; }
  .btn-blue:active {
    -webkit-box-shadow: inset -1px -1px 1px 14px #003cbd;
    box-shadow: inset -1px -1px 1px 14px #003cbd; }

.btn-yellow {
  background: #eecea0;
  background: -moz-radial-gradient(left top, ellipse cover, #eecea0 0%, #e0a54b 46%, #e4b215 100%);
  background: -webkit-gradient(radial, left top, 0px, center center, 100%, color-stop(0%, #eecea0), color-stop(46%, #e0a54b), color-stop(100%, #e4b215));
  background: -webkit-radial-gradient(left top, ellipse cover, #eecea0 0%, #e0a54b 46%, #e4b215 100%);
  background: -o-radial-gradient(left top, ellipse cover, #eecea0 0%, #e0a54b 46%, #e4b215 100%);
  background: -ms-radial-gradient(left top, ellipse cover, #eecea0 0%, #e0a54b 46%, #e4b215 100%);
  background: radial-gradient(ellipse at left top, #eecea0 0%, #e0a54b 46%, #e4b215 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eecea0', endColorstr='#e4b215',GradientType=1 );
  -webkit-box-shadow: inset -1px -1px 1px 0px #a56a09;
  box-shadow: inset -1px -1px 1px 0px #a56a09; }
  #stm-bottom p:hover .btn-yellow, .btn-yellow:hover {
    background: #ffdaa4;
    background: -moz-radial-gradient(left top, ellipse cover, #ffdaa4 0%, #ffbd4f 46%, #ffe41e 100%);
    background: -webkit-gradient(radial, left top, 0px, center center, 100%, color-stop(0%, #ffdaa4), color-stop(46%, #ffbd4f), color-stop(100%, #ffe41e));
    background: -webkit-radial-gradient(left top, ellipse cover, #ffdaa4 0%, #ffbd4f 46%, #ffe41e 100%);
    background: -o-radial-gradient(left top, ellipse cover, #ffdaa4 0%, #ffbd4f 46%, #ffe41e 100%);
    background: -ms-radial-gradient(left top, ellipse cover, #ffdaa4 0%, #ffbd4f 46%, #ffe41e 100%);
    background: radial-gradient(ellipse at left top, #ffdaa4 0%, #ffbd4f 46%, #ffe41e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdaa4', endColorstr='#ffe41e',GradientType=1 );
    -webkit-box-shadow: inset -1px -1px 1px 0px #c28112;
    box-shadow: inset -1px -1px 1px 0px #c28112; }
  #stm-bottom p:active .btn-yellow, .btn-yellow:active {
    -webkit-box-shadow: inset -1px -1px 1px 14px #a56a09;
    box-shadow: inset -1px -1px 1px 14px #a56a09; }

.win-prg-icon {
  display: inline-block;
  height: 100%;
  margin: 0 0 0 2px;
  width: 16px;
  position: relative; }
  .win-prg-icon .icon-img {
    background-attachment: scroll;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    position: absolute;
    width: 100%; }

/* 
    Collection of classes structures to achieve flexible layouts
    with CSS table algorytm

    Author  : Simone Rescio
    eMail   : info@simonerescio.it
    website : http://simonerescio.it
*/
/* Allows content of a table-cell element to be positioned relative to the cell */
/* First child of the table-cell must be the following, and all contents goes inside of it */
.tbcRelative {
  display: table;
  height: 100%;
  position: relative;
  width: 100%; }
  #win-desktop > .tbcRelative {
    display: block;
    overflow: hidden;
    position: absolute; }
  .tbcRelative:after {
    clear: both;
    content: '.';
    display: block;
    opacity: 0;
    font-size: 0px; }

/* Content on single line without affecting parent and sibilings sizes */
/* Html structure must follow the selectors nesting */
.oneLineFlex {
  display: table;
  width: 100%; }
  .oneLineFlex .oneLineContainer {
    display: table-cell;
    width: inherit; }
    .oneLineFlex .oneLineContainer .oneLineContent {
      display: block;
      overflow: hidden;
      position: absolute;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: inherit; }
      .oneLineFlex .oneLineContainer .oneLineContent .oneLineText {
        display: inline-block;
        overflow: hidden;
        position: absolute;
        text-overflow: ellipsis;
        top: 50%;
        margin: -0.5em 0 0 0;
        width: 100%; }

/* Allow vertical content to expand with fixed sibiling on top and bottom */
.tbFill {
  display: table;
  height: 100%;
  width: 100%;
  position: relative; }
  .tbFill .tbHeader {
    display: table-header-group;
    height: 1px; }
  .tbFill .tbRow {
    display: table-row;
    height: 100%; }
  .tbFill .tbFooter {
    display: table-footer-group;
    height: 1px; }

#startup {
  cursor: none;
  display: table;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-animation: startFade 2s linear;
  animation: startFade 2s linear; }
  #startup header {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  #startup footer {
    display: table-footer-group; }
    #startup footer #stup-bottom {
      display: table;
      width: 100%; }
      #startup footer #stup-bottom > * {
        display: table-cell;
        padding: 21px;
        vertical-align: bottom; }

@-webkit-keyframes startFade {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes startFade {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

#win-fl {
  text-indent: -23px; }

.mcsft-head {
  display: inline-block;
  font-size: 20px; }
  .mcsft-head sup {
    font-size: 8px;
    vertical-align: top; }

.flag-tm {
  display: inline-block;
  font-size: 10px;
  margin: 0 0 0 -26px;
  text-indent: 0; }

#win-lg {
  display: inline-block;
  font-size: 3.1em;
  font-weight: lighter; }
  #win-lg sup {
    font-size: 10px;
    line-height: 36px;
    vertical-align: top; }
  #win-lg span {
    color: #eb651c;
    font-size: 38px;
    vertical-align: top;
    position: relative;
    top: -5px; }

#win-ed {
  font-size: 1.95em;
  font-weight: lighter;
  margin-bottom: 55px;
  text-indent: -70px; }

#stup-loader {
  border: 1px solid #FFF;
  border-radius: 5px;
  height: 15px;
  margin: 0 auto;
  overflow: hidden;
  width: 130px; }

#stup-loader-bar {
  display: block;
  background: url(../img/wxp-startup-progress.png);
  height: 11px;
  margin: 1px;
  margin-left: -20%;
  width: 26px;
  -webkit-animation: loading 2s linear infinite;
  animation: loading 2s infinite;
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

@-webkit-keyframes loading {
  0% {
    margin-left: -10%; }

  9% {
    margin-left: -10%; }

  10% {
    margin-left: 0%; }

  19% {
    margin-left: 0%; }

  20% {
    margin-left: 20%; }

  29% {
    margin-left: 20%; }

  30% {
    margin-left: 30%; }

  39% {
    margin-left: 30%; }

  40% {
    margin-left: 40%; }

  49% {
    margin-left: 40%; }

  50% {
    margin-left: 50%; }

  59% {
    margin-left: 50%; }

  60% {
    margin-left: 60%; }

  69% {
    margin-left: 60%; }

  70% {
    margin-left: 70%; }

  79% {
    margin-left: 70%; }

  80% {
    margin-left: 80%; }

  89% {
    margin-left: 80%; }

  90% {
    margin-left: 90%; }

  99% {
    margin-left: 90%; }

  100% {
    margin-left: 100%; } }

@keyframes loading {
  0% {
    margin-left: 0%; }

  9% {
    margin-left: 0%; }

  10% {
    margin-left: 10%; }

  19% {
    margin-left: 10%; }

  20% {
    margin-left: 20%; }

  29% {
    margin-left: 20%; }

  30% {
    margin-left: 30%; }

  39% {
    margin-left: 30%; }

  40% {
    margin-left: 40%; }

  49% {
    margin-left: 40%; }

  50% {
    margin-left: 50%; }

  59% {
    margin-left: 50%; }

  60% {
    margin-left: 60%; }

  69% {
    margin-left: 60%; }

  70% {
    margin-left: 70%; }

  79% {
    margin-left: 70%; }

  80% {
    margin-left: 80%; }

  89% {
    margin-left: 80%; }

  90% {
    margin-left: 90%; }

  99% {
    margin-left: 90%; }

  100% {
    margin-left: 100%; } }

#stup-left {
  text-align: left; }

#stup-right {
  text-align: right; }

#welcome {
  cursor: default;
  display: table;
  height: 100%;
  overflow: hidden;
  width: 100%; }
  #welcome header,
  #welcome footer {
    background: #00309c; }
  #welcome header {
    display: table-header-group; }
    #welcome header div {
      height: 78px;
      vertical-align: bottom;
      display: table-cell;
      width: 100%; }
  #welcome footer {
    display: table-footer-group; }
    #welcome footer div {
      height: 92px;
      vertical-align: top;
      display: table-cell;
      width: 100%; }

#win-wel-mid {
  display: table;
  height: 100%;
  width: 100%;
  background: #94b4ee;
  /* Old browsers */
  background: -moz-radial-gradient(left top, ellipse cover, #94b4ee 0%, #5a7edc 50%, #5a7edc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, left top, 0px, center center, 100%, color-stop(0%, #94b4ee), color-stop(50%, #5a7edc), color-stop(100%, #5a7edc));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(left top, ellipse cover, #94b4ee 0%, #5a7edc 50%, #5a7edc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(left top, ellipse cover, #94b4ee 0%, #5a7edc 50%, #5a7edc 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(left top, ellipse cover, #94b4ee 0%, #5a7edc 50%, #5a7edc 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at left top, #94b4ee 0%, #5a7edc 50%, #5a7edc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94b4ee', endColorstr='#5a7edc',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  #win-wel-mid h1 {
    color: #eff7ff;
    display: table-cell;
    font-size: 3em;
    font-style: italic;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    text-indent: 3em;
    text-shadow: 3px 3px 0px #3151b5; }

#top-gr {
  height: 2px;
  background: #5176d4;
  /* Old browsers */
  background: -moz-linear-gradient(left, #5176d4 0%, #c8deff 30%, #5176d4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #5176d4), color-stop(30%, #c8deff), color-stop(100%, #5176d4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #5176d4 0%, #c8deff 30%, #5176d4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #5176d4 0%, #c8deff 30%, #5176d4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #5176d4 0%, #c8deff 30%, #5176d4 100%);
  /* IE10+ */
  background: linear-gradient(to right, #5176d4 0%, #c8deff 30%, #5176d4 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5176d4', endColorstr='#5176d4',GradientType=1 );
  /* IE6-9 */ }

#btm-gr {
  height: 2px;
  background: #013399;
  /* Old browsers */
  background: -moz-linear-gradient(left, #013399 0%, #f99636 30%, #1442a1 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #013399), color-stop(30%, #f99636), color-stop(100%, #1442a1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #013399 0%, #f99636 30%, #1442a1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #013399 0%, #f99636 30%, #1442a1 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #013399 0%, #f99636 30%, #1442a1 100%);
  /* IE10+ */
  background: linear-gradient(to right, #013399 0%, #f99636 30%, #1442a1 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#013399', endColorstr='#1442a1',GradientType=1 );
  /* IE6-9 */ }

#desktop {
  cursor: default;
  display: table;
  height: 100%;
  overflow: hidden;
  width: 100%; }

#win-desktop {
  background: url(../img/Bliss-Wallpaper.jpg) scroll center center no-repeat transparent;
  background-size: cover;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  /* Avoid vertical collapse without contents */ }
  #win-desktop:after {
    clear: both;
    color: transparent;
    content: '.';
    display: block; }

#win-start-btn {
  background: url(../img/win-start.png) scroll 0 0 no-repeat transparent;
  background-size: contain;
  border: none;
  color: transparent;
  height: 30px;
  outline: none;
  width: 97px; }
  #win-start-btn:hover {
    background-image: url(../img/win-start-hover.png); }
  .show-startmenu #win-start-btn, #win-start-btn:active {
    background-image: url(../img/win-start-pressed.png); }

#win-program-bar {
  display: table-footer-group;
  height: 1px; }

#win-program-bar-wrap {
  display: table;
  height: 30px;
  table-layout: auto;
  width: 100%;
  background: #3168d5;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3168d5 0%, #3888e9 6%, #245ddb 16%, #245ddb 95%, #1c44a2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3168d5), color-stop(6%, #3888e9), color-stop(16%, #245ddb), color-stop(95%, #245ddb), color-stop(100%, #1c44a2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3168d5 0%, #3888e9 6%, #245ddb 16%, #245ddb 95%, #1c44a2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3168d5 0%, #3888e9 6%, #245ddb 16%, #245ddb 95%, #1c44a2 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3168d5 0%, #3888e9 6%, #245ddb 16%, #245ddb 95%, #1c44a2 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #3168d5 0%, #3888e9 6%, #245ddb 16%, #245ddb 95%, #1c44a2 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3168d5', endColorstr='#1c44a2',GradientType=0 );
  /* IE6-9 */ }
  #win-program-bar-wrap > * {
    display: table-cell;
    vertical-align: middle; }

#win-programs {
  width: 100%; }
  #win-programs #wpl {
    display: table;
    height: 100%;
    padding: 4px;
    table-layout: auto;
    width: 100%;
    /* Phantom elastic cell to allow width as max-width */ }
    #win-programs #wpl:after {
      content: '';
      display: table-cell;
      height: 100%; }
    #win-programs #wpl .win-bar-program {
      display: table-cell;
      height: 100%;
      width: 200px;
      /*Act as max-width*/
      vertical-align: middle; }
      #win-programs #wpl .win-bar-program p {
        background: #3d7ef6;
        border-radius: 2px;
        -webkit-box-shadow: inset 1px 1px 2px 1px #659aff;
        box-shadow: inset 1px 1px 2px 1px #659aff;
        margin: 0 1px;
        padding: 2px 6px 0 4px;
        top: 0;
        left: 0;
        right: 0;
        width: auto; }
        #win-programs #wpl .win-bar-program p:hover {
          background: #55a0ff;
          -webkit-box-shadow: inset 1px 1px 2px 1px #95c5ff;
          box-shadow: inset 1px 1px 2px 1px #95c5ff; }
      #win-programs #wpl .win-bar-program.current p {
        background: #1a50b8;
        border: 1px solid #092c74;
        -webkit-box-shadow: inset 0px 0px 1px 0px #092c74;
        box-shadow: inset 0px 0px 1px 0px #092c74; }
        #win-programs #wpl .win-bar-program.current p:hover {
          background: #326ee9; }

#win-sys-tray {
  border-left: 1px solid #0b3051;
  background: #3168d5;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3168d5 0%, #19b9f3 6%, #1499ed 16%, #1499ed 95%, #1586dc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3168d5), color-stop(6%, #19b9f3), color-stop(16%, #1499ed), color-stop(95%, #1499ed), color-stop(100%, #1586dc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3168d5 0%, #19b9f3 6%, #1499ed 16%, #1499ed 95%, #1586dc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3168d5 0%, #19b9f3 6%, #1499ed 16%, #1499ed 95%, #1586dc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3168d5 0%, #19b9f3 6%, #1499ed 16%, #1499ed 95%, #1586dc 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #3168d5 0%, #19b9f3 6%, #1499ed 16%, #1499ed 95%, #1586dc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3168d5', endColorstr='#1586dc',GradientType=0 );
  /* IE6-9 */
  font-size: 11px;
  padding: 0 18px 0 8px;
  width: 1px; }

#startmenu {
  border: 2px solid #225cc5;
  border-radius: 6px 6px 0 0;
  bottom: 0;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.6);
  display: none;
  left: 0;
  position: absolute;
  width: 380px;
  z-index: 999; }
  .show-startmenu #startmenu {
    display: block; }

#stm-top {
  height: 65px;
  background: #66a2e7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #66a2e7 0%, #1666ce 3%, #4792ec 59%, #4792ec 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66a2e7), color-stop(3%, #1666ce), color-stop(59%, #4792ec), color-stop(100%, #4792ec));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #66a2e7 0%, #1666ce 3%, #4792ec 59%, #4792ec 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #66a2e7 0%, #1666ce 3%, #4792ec 59%, #4792ec 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #66a2e7 0%, #1666ce 3%, #4792ec 59%, #4792ec 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #66a2e7 0%, #1666ce 3%, #4792ec 59%, #4792ec 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66a2e7', endColorstr='#4792ec',GradientType=0 );
  /* IE6-9 */
  -webkit-box-shadow: inset -1px -1px 6px 1px #1854c2;
  box-shadow: inset -1px -1px 6px 1px #1854c2;
  display: table;
  width: 100%;
  position: relative; }
  #stm-top > * {
    display: table-cell;
    height: 100%;
    vertical-align: middle; }
  #stm-top figure {
    width: 1px; }
  #stm-top #tp-gradient {
    border-top: 1px solid #1b6bd1;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    position: absolute;
    background: white;
    background: -moz-linear-gradient(left, white 0%, #f88a24 50%, #cbd3df 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, white), color-stop(50%, #f88a24), color-stop(100%, #cbd3df));
    background: -webkit-linear-gradient(left, white 0%, #f88a24 50%, #cbd3df 100%);
    background: -o-linear-gradient(left, white 0%, #f88a24 50%, #cbd3df 100%);
    background: -ms-linear-gradient(left, white 0%, #f88a24 50%, #cbd3df 100%);
    background: linear-gradient(to right, white 0%, #f88a24 50%, #cbd3df 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cbd3df',GradientType=1 ); }

#stm-user-logo {
  border: 2px solid #ccd6eb;
  border-radius: 3px;
  height: 48px;
  margin: 0 8px;
  width: 48px;
  -webkit-box-shadow: 1px 1px 4px 2px #1553a3;
  box-shadow: 1px 1px 4px 2px #1553a3; }

#stm-user-name {
  display: inline-block;
  font-size: 17px;
  font-weight: lighter;
  text-shadow: 0 2px 2px #1559b0; }

#stm-middle .col {
  display: table-cell;
  height: 100%;
  /* Makes child content with percentage height honor the property */
  width: 45%; }
  @media (-webkit-min-device-pixel-ratio: 0) {
    #stm-middle .col {
      /* Same as above, webkit specific, doesn't actually restric the element height' */ }
      #stm-middle .col {
        height: 1px; } }

#stm-left {
  background: #FFF;
  color: #373738;
  font-size: 14px; }

#stm-fav-programs li,
.stm-my-links li {
  display: table;
  height: 45px;
  padding: 4px;
  width: 100%; }
  #stm-fav-programs li a,
  .stm-my-links li a {
    color: #373738;
    display: inline-block;
    width: 100%;
    text-decoration: none; }
    #stm-fav-programs li a:hover, #stm-fav-programs li a:hover .stm-prg-desc,
    .stm-my-links li a:hover,
    .stm-my-links li a:hover .stm-prg-desc {
      background: #3069c7;
      color: #FFF; }
  #stm-fav-programs li a > *,
  .stm-my-links li a > * {
    display: table-cell;
    vertical-align: middle; }
  #stm-fav-programs li span,
  .stm-my-links li span {
    display: block; }
#stm-fav-programs figure,
.stm-my-links figure {
  height: 26px;
  text-align: center;
  width: 36px; }
  #stm-fav-programs figure img,
  .stm-my-links figure img {
    height: 32px;
    margin: 0 4px 0 0;
    width: 32px; }
#stm-fav-programs .stm-prg-name,
.stm-my-links .stm-prg-name {
  font-weight: bold; }
#stm-fav-programs .stm-prg-desc,
.stm-my-links .stm-prg-desc {
  color: #808080; }

#stm-fav-programs:after,
.stm-my-links:after,
#all-programs:before {
  background: white;
  background: -moz-linear-gradient(left, white 0%, #d3d3c8 50%, white 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, white), color-stop(50%, #d3d3c8), color-stop(100%, white));
  background: -webkit-linear-gradient(left, white 0%, #d3d3c8 50%, white 100%);
  background: -o-linear-gradient(left, white 0%, #d3d3c8 50%, white 100%);
  background: -ms-linear-gradient(left, white 0%, #d3d3c8 50%, white 100%);
  background: linear-gradient(to right, white 0%, #d3d3c8 50%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
  content: '';
  display: block;
  height: 1px; }

#all-programs {
  display: table;
  padding: 5px 10px;
  width: 100%; }
  #all-programs > li {
    display: inherit;
    font-size: 12px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    padding: 2px 28px 2px 13px;
    text-align: center;
    text-indent: 20px;
    vertical-align: middle;
    width: 100%; }
    #all-programs > li > * {
      display: table-cell;
      height: 100%;
      white-space: nowrap;
      vertical-align: middle; }
    #all-programs > li:hover {
      background-color: #3069c7;
      color: #FFF; }

#stm-right {
  background: #d3e5fa;
  border-left: 1px solid #95bdee;
  font-size: 12px; }
  #stm-right .stm-my-links li {
    padding: 0 4px; }

#stm-bottom {
  height: 40px;
  background: #438be3;
  /* Old browsers */
  background: -moz-linear-gradient(top, #438be3 0%, #0c56c0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #438be3), color-stop(100%, #0c56c0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #438be3 0%, #0c56c0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #438be3 0%, #0c56c0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #438be3 0%, #0c56c0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #438be3 0%, #0c56c0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#438be3', endColorstr='#0c56c0',GradientType=0 );
  /* IE6-9 */
  border-top: 1px solid #1b69ce;
  display: table;
  width: 100%;
  text-align: right;
  font-size: 12px; }
  #stm-bottom p {
    display: inline-block;
    margin: 5px;
    padding: 3px;
    white-space: nowrap; }
    #stm-bottom p:hover {
      background: #316ac5; }
    #stm-bottom p button {
      margin: 0 4px 0 0; }
  #stm-bottom .win-btn {
    height: 24px;
    width: 24px; }

#all-programs .win-icons.list-icons {
  background: #FFF;
  border: 1px solid #3382e8;
  border-left-width: 6px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
  bottom: 5px;
  height: auto;
  margin: 0 0 0 30px;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  transition: opacity 0.3s linear;
  -wbkit-transition: opacity 0.3s linear; }
  #all-programs .win-icons.list-icons li {
    padding: 6px;
    max-width: 300px;
    text-align: left; }
    #all-programs .win-icons.list-icons li:hover {
      background: #3069c7; }
      #all-programs .win-icons.list-icons li:hover a {
        color: #FFF; }
    #all-programs .win-icons.list-icons li a {
      color: #000;
      display: inherit;
      font-weight: lighter;
      width: 100%;
      overflow: hidden;
      text-decoration: none;
      text-overflow: ellipsis; }
  #all-programs .win-icons.list-icons .win-icon-image {
    background-attachment: scroll;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    float: left;
    height: 16px;
    margin: 0 -10px 0 0;
    width: 16px; }

#all-programs:hover .win-icons {
  display: inline-block;
  opacity: 1;
  pointer-events: initial; }

.desk-window {
  background: #efebde;
  border: 3px solid;
  border-color: #758cdd;
  border-top-width: 1px;
  border-radius: 6px 6px 0 0;
  display: table;
  min-height: 200px;
  min-width: 300px;
  max-height: 100%;
  max-width: 100%;
  height: 60%;
  width: 70%;
  /* default position */
  left: 20px;
  top: 20px;
  /* Override jquery drag position */
  position: absolute !important;
  z-index: 2;
  /* Safari doesnt calculate correctly the height of the table-row with border-box */
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  .desk-window.current, .desk-window.current.magnified {
    border-color: #0855de;
    z-index: 20; }
    .desk-window.current .desk-window-top, .desk-window.current.magnified .desk-window-top {
      background: #0059ef;
      /* Old browsers */
      background: -moz-linear-gradient(top, #0059ef 0%, #3996ff 1%, #0055e7 14%, #0069ff 41%, #0045d6 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0059ef), color-stop(1%, #3996ff), color-stop(14%, #0055e7), color-stop(41%, #0069ff), color-stop(100%, #0045d6));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #0059ef 0%, #3996ff 1%, #0055e7 14%, #0069ff 41%, #0045d6 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #0059ef 0%, #3996ff 1%, #0055e7 14%, #0069ff 41%, #0045d6 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #0059ef 0%, #3996ff 1%, #0055e7 14%, #0069ff 41%, #0045d6 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #0059ef 0%, #3996ff 1%, #0055e7 14%, #0069ff 41%, #0045d6 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0059ef', endColorstr='#0045d6',GradientType=0 );
      /* IE6-9 */ }
      .desk-window.current .desk-window-top .window-title, .desk-window.current.magnified .desk-window-top .window-title {
        opacity: 1; }
      .desk-window.current .desk-window-top .desk-window-commands > *, .desk-window.current.magnified .desk-window-top .desk-window-commands > * {
        opacity: 1; }
  .desk-window.minimized {
    visibility: hidden;
    pointer-events: none; }
    .desk-window.minimized iframe {
      /* Safari will not hide iframes of parents with visibility hidden! */
      display: none !important; }
  .desk-window.magnified {
    border-width: 0px;
    border-radius: 0 0 0 0;
    position: absolute !Important;
    height: 100% !important;
    width: 100% !important;
    z-index: 10;
    left: 0 !important;
    top: 0 !important; }
    .desk-window.magnified .ui-resizable-handle {
      display: none; }
  .desk-window .desk-window-top {
    background: #638ae1;
    background: -moz-linear-gradient(top, #638ae1 0%, #98b3e8 1%, #7a96df 14%, #81a7e8 41%, #7a93df 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #638ae1), color-stop(1%, #98b3e8), color-stop(14%, #7a96df), color-stop(41%, #81a7e8), color-stop(100%, #7a93df));
    background: -webkit-linear-gradient(top, #638ae1 0%, #98b3e8 1%, #7a96df 14%, #81a7e8 41%, #7a93df 100%);
    background: -o-linear-gradient(top, #638ae1 0%, #98b3e8 1%, #7a96df 14%, #81a7e8 41%, #7a93df 100%);
    background: -ms-linear-gradient(top, #638ae1 0%, #98b3e8 1%, #7a96df 14%, #81a7e8 41%, #7a93df 100%);
    background: linear-gradient(to bottom, #638ae1 0%, #98b3e8 1%, #7a96df 14%, #81a7e8 41%, #7a93df 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#638ae1', endColorstr='#7a93df',GradientType=0 );
    display: table;
    height: 30px;
    table-layout: auto;
    width: 100%; }
    .desk-window .desk-window-top > * {
      display: table-cell;
      vertical-align: middle; }
    .desk-window .desk-window-top .desk-window-commands {
      width: 1px; }
      .desk-window .desk-window-top .desk-window-commands > * {
        opacity: 0.6;
        display: table-cell; }
        .desk-window .desk-window-top .desk-window-commands > *:hover {
          opacity: 1; }
  .desk-window .desk-window-content {
    background: #FFF;
    display: table-row;
    width: 100%;
    height: 100%; }
    .desk-window .desk-window-content div {
      display: inline-block;
      height: 100%;
      width: 100%; }
    .desk-window .desk-window-content iframe {
      display: block;
      height: 100%;
      width: 100%; }
  .desk-window .window-title {
    opacity: 0.6; }

.desk-window-title {
  font-size: 12px;
  position: relative;
  text-shadow: 1px 1px 0 #081884; }
  .desk-window-title p {
    height: 100%;
    line-height: 1em;
    padding: 0 6px 0 0; }
    .desk-window-title p .window-title {
      padding: 0 32px 0 4px; }

.desk-window-commands button {
  height: 21px;
  width: 21px; }

.ui-icon-gripsmall-diagonal-se {
  opacity: 0; }

.win-icons.grid-icons {
  list-style: none;
  height: 100%;
  position: relative;
  text-align: left;
  z-index: 1; }
  .win-icons.grid-icons .win-icon {
    display: block;
    float: left;
    padding: 21px 8px; }
    .win-icons.grid-icons .win-icon a {
      color: #FFF;
      cursor: default;
      display: inline-block;
      font-size: 12px;
      position: relative;
      text-align: center;
      text-decoration: none;
      text-shadow: 1px 1px 3px #222;
      width: 75px; }
    .win-icons.grid-icons .win-icon a.selected .win-icon-image, .win-icons.grid-icons .win-icon.ui-selected .win-icon-image, .win-icons.grid-icons .win-icon.ui-selecting .win-icon-image {
      -webkit-filter: sepia(1) hue-rotate(160deg);
      filter: sepia(1) hue-rotate(160deg); }
    .win-icons.grid-icons .win-icon a.selected .win-icon-name, .win-icons.grid-icons .win-icon.ui-selected .win-icon-name, .win-icons.grid-icons .win-icon.ui-selecting .win-icon-name {
      background: #316ac5;
      border: 1px dotted #ce953a;
      padding: 0 0 3px 0;
      text-overflow: initial;
      text-shadow: none;
      white-space: normal;
      word-break: break-all; }
    .win-icons.grid-icons .win-icon .win-icon-image {
      display: block;
      height: 36px;
      margin: 0 auto;
      width: 36px;
      background-attachment: scroll;
      background-color: transparent;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain; }
    .win-icons.grid-icons .win-icon .win-icon-name {
      border: 1px dotted transparent;
      display: inline-block;
      left: 0;
      margin: 4px 0 0 0;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%; }

[data-has-icon="false"] {
  background-image: url(../img/program.png) !important; }
