#desktop {
    cursor: default;
    display: table;
    height: 100%;
    min-width: 300px;
    overflow: hidden;
    width: 100%;   
}

#win-desktop {
    background: url(../img/Bliss-Wallpaper.jpg) scroll center center no-repeat transparent;
    background-size: cover;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    
    /* Avoid vertical collapse without contents */
    &:after {
        clear: both;
        color: transparent;
        content: '.';
        display: block;
    }
}

#win-start-btn {
    background: url(../img/win-start.png) scroll 0 0 no-repeat transparent;
    background-size: contain;
    border: none;
    color: transparent;
    height: 30px;
    outline: none;
    width: 97px;

    &:hover {
        background-image: url(../img/win-start-hover.png);
    }    
    
    .show-startmenu &,
    &:active {
        background-image: url(../img/win-start-pressed.png);
    }
}

#win-program-bar {
    display: table-footer-group;
    height: 1px;
}
#win-program-bar-wrap {
    display: table;
    height: 30px;
    table-layout: auto;
    width: 100%;
    
    background: #3168d5; /* Old browsers */
    background: -moz-linear-gradient(top,  #3168d5 0%, #3888e9 6%, #245ddb 16%, #245ddb 95%, #1c44a2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3168d5), color-stop(6%,#3888e9), color-stop(16%,#245ddb), color-stop(95%,#245ddb), color-stop(100%,#1c44a2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3168d5 0%,#3888e9 6%,#245ddb 16%,#245ddb 95%,#1c44a2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3168d5 0%,#3888e9 6%,#245ddb 16%,#245ddb 95%,#1c44a2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3168d5 0%,#3888e9 6%,#245ddb 16%,#245ddb 95%,#1c44a2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #3168d5 0%,#3888e9 6%,#245ddb 16%,#245ddb 95%,#1c44a2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3168d5', endColorstr='#1c44a2',GradientType=0 ); /* IE6-9 */
    
    > * {
        display: table-cell;
        vertical-align: middle;
    }
}
#win-programs {
    width: 100%;
    
    #wpl {
        display:table;
        height: 100%;
        padding: 4px;
        table-layout: auto;
        width:100%;
        
        /* Phantom elastic cell to allow width as max-width */
        &:after {
            content: '';
            display: table-cell;
            height: 100%;
        }
        
        .win-bar-program {
            display: table-cell;
            height: 100%;
            width: 200px; /*Act as max-width*/
            vertical-align: middle;
            
            p {
                background: #3d7ef6;
                border-radius: 2px;
                -webkit-box-shadow:inset 1px 1px 2px 1px #659aff;
                box-shadow:inset 1px 1px 2px 1px #659aff;
                margin: 0 1px;
                padding: 2px 6px 0 4px;
                top: 0;
                left: 0;
                right: 0;
                width: auto;
                
                &:hover{
                    background: #55a0ff;
                    -webkit-box-shadow:inset 1px 1px 2px 1px #95c5ff;
                    box-shadow:inset 1px 1px 2px 1px #95c5ff;                    
                }
            }
            
            &.current {
                p {
                    background: #1a50b8;
                    border: 1px solid #092c74;
                    -webkit-box-shadow:inset 0px 0px 1px 0px #092c74;
                    box-shadow:inset 0px 0px 1px 0px #092c74;
                    
                    &:hover{
                        background: #326ee9;
                    }
                }
            }
        }        
    }
}
#win-sys-tray {
    border-left: 1px solid #0b3051;
    background: #3168d5; /* Old browsers */
    background: -moz-linear-gradient(top,  #3168d5 0%, #19b9f3 6%, #1499ed 16%, #1499ed 95%, #1586dc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3168d5), color-stop(6%,#19b9f3), color-stop(16%,#1499ed), color-stop(95%,#1499ed), color-stop(100%,#1586dc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3168d5 0%,#19b9f3 6%,#1499ed 16%,#1499ed 95%,#1586dc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3168d5 0%,#19b9f3 6%,#1499ed 16%,#1499ed 95%,#1586dc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3168d5 0%,#19b9f3 6%,#1499ed 16%,#1499ed 95%,#1586dc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #3168d5 0%,#19b9f3 6%,#1499ed 16%,#1499ed 95%,#1586dc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3168d5', endColorstr='#1586dc',GradientType=0 ); /* IE6-9 */
    font-size: 11px;
    padding: 0 18px 0 8px;
    width: 1px;    
}
