.win-icons.grid-icons {
    list-style: none;
    height: 100%;
    position: relative;
    text-align: left;
    z-index:1;
    
    .win-icon {
        display: block;
        float: left;
        padding: 21px 8px;
        
        a {
            color: #FFF;
            cursor: default;
            display: inline-block;
            font-size: 12px;
            position: relative;
            text-align: center;
            text-decoration: none;
            text-shadow: 1px 1px 3px #222;
            width: 75px;            
        }
        a.selected,
        &.ui-selected,
        &.ui-selecting {
            
            z-index:1;

            .win-icon-image {
                $colorize : sepia(1) hue-rotate(160deg);
                -webkit-filter: $colorize;
                filter: $colorize;
            }

            .win-icon-name {
                background: #316ac5;
                border: 1px dotted #ce953a;
                padding: 0 0 3px 0;
                text-overflow: initial;
                text-shadow: none;
                white-space: normal;
                word-break:break-all;
            }
        }
        
        .win-icon-image {
            display: block;
            height: 36px;
            margin: 0 auto;
            width: 36px;
            position: relative;
            background-attachment: scroll;
            background-color: transparent;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            
            &:before {
                background: url(../img/program-link.gif) scroll center center no-repeat transparent;
                display: block;
                content: '';
                padding: 11px 11px 0 0;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        
        .win-icon-name {
            border: 1px dotted transparent;
            display: inline-block;
            left: 0;
            margin: 4px 0 0 0;
            overflow: hidden;
            position: absolute;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;
        }        
    }
}

/* Change icons text color when inside of window */
.desk-window .win-icons.grid-icons {

    .win-icon {
        
        a {
            color: #000;
            text-shadow: none;
        }
    }
}

/* Set fallback image for bookmarks without favicon */
[data-has-icon="false"] {
    background-image: url(../img/program.png) !important;
}
