#welcome-message {
    color: #eff7ff;
    display: table-cell;
    font-size: 3em;
    font-style: italic;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    text-indent: 3em;
    text-shadow: 3px 3px 0px #3151b5;
}
